:root {
  --color-10141b: #10141b;
  --color-101720: #101720;
  --color-111722: #111722;
  --color-121419: #121419;
  --color-123021: #123021;
  --color-14171d: #14171d;
  --color-141923: #141923;
  --color-151a22: #151a22;
  --color-151b29: #151b29;
  --color-158846: #158846;
  --color-16181f: #16181f;
  --color-16863a: #16863a;
  --color-16a34a: #16a34a;
  --color-171b22: #171b22;
  --color-171d29: #171d29;
  --color-172033: #172033;
  --color-172334: #172334;
  --color-17335c: #17335c;
  --color-181c24: #181c24;
  --color-193525: #193525;
  --color-19a84f: #19a84f;
  --color-1b2029: #1b2029;
  --color-1b212b: #1b212b;
  --color-1b2535: #1b2535;
  --color-1c2e4d: #1c2e4d;
  --color-1d242e: #1d242e;
  --color-1f2937: #1f2937;
  --color-1f2b3b: #1f2b3b;
  --color-1f7ae0: #1f7ae0;
  --color-202934: #202934;
  --color-203958: #203958;
  --color-203a55: #203a55;
  --color-20b46d: #20b46d;
  --color-22262e: #22262e;
  --color-222733: #222733;
  --color-222a35: #222a35;
  --color-23a34b: #23a34b;
  --color-242934: #242934;
  --color-242c37: #242c37;
  --color-24a045: #24a045;
  --color-252b36: #252b36;
  --color-253142: #253142;
  --color-25aeea: #25aeea;
  --color-262b36: #262b36;
  --color-294c78: #294c78;
  --color-2a1d24: #2a1d24;
  --color-2a2f3a: #2a2f3a;
  --color-2b303c: #2b303c;
  --color-2c3242: #2c3242;
  --color-2d333d: #2d333d;
  --color-2d3340: #2d3340;
  --color-2d8cff: #2d8cff;
  --color-2f394b: #2f394b;
  --color-2f6bff: #2f6bff;
  --color-2f6bff66: #2f6bff66;
  --color-2f7fff: #2f7fff;
  --color-2f82ff: #2f82ff;
  --color-2f86eb: #2f86eb;
  --color-303643: #303643;
  --color-303744: #303744;
  --color-303947: #303947;
  --color-303949: #303949;
  --color-313844: #313844;
  --color-313a47: #313a47;
  --color-315b8d: #315b8d;
  --color-332635: #332635;
  --color-343a47: #343a47;
  --color-343b48: #343b48;
  --color-343d4b: #343d4b;
  --color-343e4c: #343e4c;
  --color-344052: #344052;
  --color-3472ff: #3472ff;
  --color-34b251: #34b251;
  --color-354052: #354052;
  --color-3573ff: #3573ff;
  --color-363636: #363636;
  --color-367dff: #367dff;
  --color-3781f6: #3781f6;
  --color-3878ff: #3878ff;
  --color-3a7aff: #3a7aff;
  --color-398bfa: #398bfa;
  --color-39d071: #39d071;
  --color-3a2a1d: #3a2a1d;
  --color-3a414d: #3a414d;
  --color-3a414f: #3a414f;
  --color-3c4554: #3c4554;
  --color-3c7440: #3c7440;
  --color-3c83f7: #3c83f7;
  --color-3c9b2f: #3c9b2f;
  --color-406bf6: #406bf6;
  --color-41698f: #41698f;
  --color-4387ff: #4387ff;
  --color-46a4ff: #46a4ff;
  --color-4a90ff: #4a90ff;
  --color-4c5564: #4c5564;
  --color-4c9a2a: #4c9a2a;
  --color-4e596b: #4e596b;
  --color-4fc96f: #4fc96f;
  --color-51b848: #51b848;
  --color-536176: #536176;
  --color-566276: #566276;
  --color-58b344: #58b344;
  --color-596170: #596170;
  --color-5b8df7: #5b8df7;
  --color-60b642: #60b642;
  --color-60bd38: #60bd38;
  --color-61b334: #61b334;
  --color-62a838: #62a838;
  --color-637084: #637084;
  --color-67bd4a: #67bd4a;
  --color-687587: #687587;
  --color-68bb45: #68bb45;
  --color-68bd42: #68bd42;
  --color-697281: #697281;
  --color-69bd39: #69bd39;
  --color-6aa2ff: #6aa2ff;
  --color-6b7587: #6b7587;
  --color-70c748: #70c748;
  --color-72501d: #72501d;
  --color-72a8ff: #72a8ff;
  --color-72c546: #72c546;
  --color-76829b: #76829b;
  --color-777f8d: #777f8d;
  --color-778295: #778295;
  --color-7a8290: #7a8290;
  --color-7b7f87: #7b7f87;
  --color-7b8492: #7b8492;
  --color-7c58f5: #7c58f5;
  --color-7c879a: #7c879a;
  --color-7f8a9f: #7f8a9f;
  --color-7f8ba1: #7f8ba1;
  --color-8390a4: #8390a4;
  --color-8792a6: #8792a6;
  --color-8793a8: #8793a8;
  --color-8994a8: #8994a8;
  --color-8b96a8: #8b96a8;
  --color-8bc4ff: #8bc4ff;
  --color-8bc5ff: #8bc5ff;
  --color-8c97aa: #8c97aa;
  --color-8d98aa: #8d98aa;
  --color-8e97a7: #8e97a7;
  --color-8e99aa: #8e99aa;
  --color-8f98a8: #8f98a8;
  --color-8f99aa: #8f99aa;
  --color-929cae: #929cae;
  --color-944545: #944545;
  --color-97a2b3: #97a2b3;
  --color-99a4b6: #99a4b6;
  --color-9aa3b2: #9aa3b2;
  --color-9aa4b5: #9aa4b5;
  --color-9aa5b7: #9aa5b7;
  --color-9aa5b8: #9aa5b8;
  --color-9da5b1: #9da5b1;
  --color-9eacc0: #9eacc0;
  --color-a0a7b3: #a0a7b3;
  --color-a0a8b5: #a0a8b5;
  --color-a0a9b8: #a0a9b8;
  --color-a0a9b9: #a0a9b9;
  --color-a2acbb: #a2acbb;
  --color-a6dd8b: #a6dd8b;
  --color-a9b3c2: #a9b3c2;
  --color-a9cdf6: #a9cdf6;
  --color-a9cff7: #a9cff7;
  --color-aeb6c4: #aeb6c4;
  --color-b18c4c: #b18c4c;
  --color-b8c1cf: #b8c1cf;
  --color-bddcff: #bddcff;
  --color-bfe6c0: #bfe6c0;
  --color-c1cad8: #c1cad8;
  --color-c3c9d4: #c3c9d4;
  --color-c4cedd: #c4cedd;
  --color-c5dcfa: #c5dcfa;
  --color-c7cfdb: #c7cfdb;
  --color-c7d7ec: #c7d7ec;
  --color-c8cbd0: #c8cbd0;
  --color-c8cfdc: #c8cfdc;
  --color-cfd5df: #cfd5df;
  --color-cfd7e3: #cfd7e3;
  --color-cfd8e7: #cfd8e7;
  --color-cfe3ff: #cfe3ff;
  --color-d2e4f8: #d2e4f8;
  --color-d4dae4: #d4dae4;
  --color-d5edc6: #d5edc6;
  --color-d6b16a: #d6b16a;
  --color-d6dce6: #d6dce6;
  --color-d7a436: #d7a436;
  --color-d7e7ff: #d7e7ff;
  --color-d8e0eb: #d8e0eb;
  --color-d9e2ef: #d9e2ef;
  --color-dce9fc: #dce9fc;
  --color-dceaff: #dceaff;
  --color-dfe3e9: #dfe3e9;
  --color-dfe4ec: #dfe4ec;
  --color-dfe4ed: #dfe4ed;
  --color-dfe5ee: #dfe5ee;
  --color-dfe5ef: #dfe5ef;
  --color-dfe7f2: #dfe7f2;
  --color-dfecfa: #dfecfa;
  --color-dff0ff: #dff0ff;
  --color-e1e5ec: #e1e5ec;
  --color-e1e6ee: #e1e6ee;
  --color-e1e7f0: #e1e7f0;
  --color-e2e4e7: #e2e4e7;
  --color-e2f5e9: #e2f5e9;
  --color-e32d2d: #e32d2d;
  --color-e3e7ee: #e3e7ee;
  --color-e3e8f0: #e3e8f0;
  --color-e4e9f1: #e4e9f1;
  --color-e6ebf3: #e6ebf3;
  --color-e8f3ff: #e8f3ff;
  --color-e8f7eb: #e8f7eb;
  --color-e9f7ef: #e9f7ef;
  --color-eaf2ff: #eaf2ff;
  --color-eaf3ff: #eaf3ff;
  --color-edf1f6: #edf1f6;
  --color-edf3fb: #edf3fb;
  --color-edf8e8: #edf8e8;
  --color-ee5b52: #ee5b52;
  --color-eef0f4: #eef0f4;
  --color-eef1f5: #eef1f5;
  --color-eef1f6: #eef1f6;
  --color-eef2f7: #eef2f7;
  --color-eef5ff: #eef5ff;
  --color-eef6ff: #eef6ff;
  --color-eff1f5: #eff1f5;
  --color-f0a1a1: #f0a1a1;
  --color-f0f2f5: #f0f2f5;
  --color-f0f3f8: #f0f3f8;
  --color-f0fbf0: #f0fbf0;
  --color-f17bcf: #f17bcf;
  --color-f1c473: #f1c473;
  --color-f1dcfb: #f1dcfb;
  --color-f1f3f5: #f1f3f5;
  --color-f1f4f8: #f1f4f8;
  --color-f1ffe7: #f1ffe7;
  --color-f2810d: #f2810d;
  --color-f2f4f6: #f2f4f6;
  --color-f2f4f7: #f2f4f7;
  --color-f2f4f8: #f2f4f8;
  --color-f2f6fc: #f2f6fc;
  --color-f3f5f8: #f3f5f8;
  --color-f3f6fa: #f3f6fa;
  --color-f4f6fa: #f4f6fa;
  --color-f4f7fc: #f4f7fc;
  --color-f4f7fb: #f4f7fb;
  --color-f5f7fb: #f5f7fb;
  --color-f5fcf1: #f5fcf1;
  --color-f6eeff: #f6eeff;
  --color-f6f8fb: #f6f8fb;
  --color-f7f8fa: #f7f8fa;
  --color-f8f9fb: #f8f9fb;
  --color-f8fbf6: #f8fbf6;
  --color-f8fbff: #f8fbff;
  --color-fae8cc: #fae8cc;
  --color-fbfcfe: #fbfcfe;
  --color-fde7e9: #fde7e9;
  --color-fefefe: #fefefe;
  --color-ff3f3f: #ff3f3f;
  --color-ff4249: #ff4249;
  --color-ff4545: #ff4545;
  --color-ff4556: #ff4556;
  --color-ff4a4a: #ff4a4a;
  --color-ff5454: #ff5454;
  --color-ff5b2a: #ff5b2a;
  --color-ff5b5f: #ff5b5f;
  --color-ff5d5d: #ff5d5d;
  --color-ff8a00: #ff8a00;
  --color-ff8d28: #ff8d28;
  --color-ff8f1f: #ff8f1f;
  --color-ff9d35: #ff9d35;
  --color-ffa21a: #ffa21a;
  --color-ffb92e: #ffb92e;
  --color-ffc7c7: #ffc7c7;
  --color-ffcc31: #ffcc31;
  --color-ffd69b: #ffd69b;
  --color-ffebeb: #ffebeb;
  --color-fff0d8: #fff0d8;
  --color-fff1df: #fff1df;
  --color-fff3f3: #fff3f3;
  --color-fff4f4: #fff4f4;
  --color-fff6ea: #fff6ea;
  --color-fff7f7: #fff7f7;
  --color-fff8ec: #fff8ec;
  --color-fff8ed: #fff8ed;
  --color-fffbe3: #fffbe3;

  --alpha-0-0-0-0-05: rgba(0, 0, 0, 0.05);
  --alpha-0-0-0-0-2: rgba(0, 0, 0, 0.2);
  --alpha-0-0-0-0-22: rgba(0, 0, 0, 0.22);
  --alpha-0-0-0-0-24: rgba(0, 0, 0, 0.24);
  --alpha-0-0-0-0-26: rgba(0, 0, 0, 0.26);
  --alpha-0-0-0-0-28: rgba(0, 0, 0, 0.28);
  --alpha-0-0-0-0-3: rgba(0, 0, 0, 0.3);
  --alpha-0-0-0-0-34: rgba(0, 0, 0, 0.34);
  --alpha-0-0-0-0-42: rgba(0, 0, 0, 0.42);
  --alpha-0-0-0-0-52: rgba(0, 0, 0, 0.52);
  --alpha-10-13-18-0-54: rgba(10, 13, 18, 0.54);
  --alpha-10-15-24-0-34: rgba(10, 15, 24, 0.34);
  --alpha-104-189-66-0-1: rgba(104, 189, 66, 0.1);
  --alpha-104-189-66-0-36: rgba(104, 189, 66, 0.36);
  --alpha-12-18-30-0-76: rgba(12, 18, 30, 0.76);
  --alpha-143-153-170-0-24: rgba(143, 153, 170, 0.24);
  --alpha-15-22-34-0-72: rgba(15, 22, 34, 0.72);
  --alpha-15-23-42-0-06: rgba(15, 23, 42, 0.06);
  --alpha-15-23-42-0-56: rgba(15, 23, 42, 0.56);
  --alpha-154-163-175-0-35: rgba(154, 163, 175, 0.35);
  --alpha-16-20-27-0-96: rgba(16, 20, 27, 0.96);
  --alpha-17-21-28-0: rgba(17, 21, 28, 0);
  --alpha-186-214-255-0: rgba(186, 214, 255, 0);
  --alpha-186-214-255-0-18: rgba(186, 214, 255, 0.18);
  --alpha-186-214-255-0-5: rgba(186, 214, 255, 0.5);
  --alpha-20-24-36-0-16: rgba(20, 24, 36, 0.16);
  --alpha-20-29-44-0-28: rgba(20, 29, 44, 0.28);
  --alpha-20-30-50-0-06: rgba(20, 30, 50, 0.06);
  --alpha-20-30-60-0-08: rgba(20, 30, 60, 0.08);
  --alpha-20-32-52-0-24: rgba(20, 32, 52, 0.24);
  --alpha-20-40-80-0-08: rgba(20, 40, 80, 0.08);
  --alpha-20-40-80-0-1: rgba(20, 40, 80, 0.1);
  --alpha-202-238-255-0-50: rgba(202, 238, 255, 0.50);
  --alpha-206-34-54-0-22: rgba(206, 34, 54, 0.22);
  --alpha-21-24-30-0-54: rgba(21, 24, 30, 0.54);
  --alpha-22-28-38-0-88: rgba(22, 28, 38, 0.88);
  --alpha-22-30-45-0-08: rgba(22, 30, 45, 0.08);
  --alpha-22-30-45-0-12: rgba(22, 30, 45, 0.12);
  --alpha-22-30-45-0-14: rgba(22, 30, 45, 0.14);
  --alpha-23-31-45-0-07: rgba(23, 31, 45, 0.07);
  --alpha-23-31-45-0-08: rgba(23, 31, 45, 0.08);
  --alpha-23-31-45-0-1: rgba(23, 31, 45, 0.1);
  --alpha-23-31-45-0-12: rgba(23, 31, 45, 0.12);
  --alpha-234-251-255-0-50: rgba(234, 251, 255, 0.50);
  --alpha-24-34-52-0-04: rgba(24, 34, 52, 0.04);
  --alpha-24-34-52-0-08: rgba(24, 34, 52, 0.08);
  --alpha-24-36-58-0-04: rgba(24, 36, 58, 0.04);
  --alpha-24-36-58-0-05: rgba(24, 36, 58, 0.05);
  --alpha-24-36-58-0-08: rgba(24, 36, 58, 0.08);
  --alpha-25-168-79-0-12: rgba(25, 168, 79, 0.12);
  --alpha-25-35-55-0-08: rgba(25, 35, 55, 0.08);
  --alpha-25-37-56-0-04: rgba(25, 37, 56, 0.04);
  --alpha-25-96-170-0-25: rgba(25, 96, 170, 0.25);
  --alpha-254-254-254-0-00: rgba(254, 254, 254, 0.00);
  --alpha-255-141-40-0-34: rgba(255, 141, 40, 0.34);
  --alpha-255-150-54-0-08: rgba(255, 150, 54, 0.08);
  --alpha-255-150-54-0-35: rgba(255, 150, 54, 0.35);
  --alpha-255-168-47-0-1: rgba(255, 168, 47, 0.1);
  --alpha-255-174-75-0-1: rgba(255, 174, 75, 0.1);
  --alpha-255-174-75-0-34: rgba(255, 174, 75, 0.34);
  --alpha-255-184-77-0-1: rgba(255, 184, 77, 0.1);
  --alpha-255-184-77-0-28: rgba(255, 184, 77, 0.28);
  --alpha-255-255-255-0: rgba(255, 255, 255, 0);
  --alpha-255-255-255-0-14: rgba(255, 255, 255, 0.14);
  --alpha-255-255-255-0-2: rgba(255, 255, 255, 0.2);
  --alpha-255-255-255-0-22: rgba(255, 255, 255, 0.22);
  --alpha-255-255-255-0-42: rgba(255, 255, 255, 0.42);
  --alpha-255-255-255-0-82: rgba(255, 255, 255, 0.82);
  --alpha-255-255-255-0-96: rgba(255, 255, 255, 0.96);
  --alpha-255-69-69-0-1: rgba(255, 69, 69, 0.1);
  --alpha-255-93-93-0-12: rgba(255, 93, 93, 0.12);
  --alpha-255-93-93-0-42: rgba(255, 93, 93, 0.42);
  --alpha-27-37-54-0-13: rgba(27, 37, 54, 0.13);
  --alpha-27-38-56-0-16: rgba(27, 38, 56, 0.16);
  --alpha-27-39-61-0-16: rgba(27, 39, 61, 0.16);
  --alpha-28-33-43-0-58: rgba(28, 33, 43, 0.58);
  --alpha-32-40-56-0-12: rgba(32, 40, 56, 0.12);
  --alpha-32-40-56-0-14: rgba(32, 40, 56, 0.14);
  --alpha-38-139-243-0-08: rgba(38, 139, 243, 0.08);
  --alpha-38-139-243-0-1: rgba(38, 139, 243, 0.1);
  --alpha-38-139-243-0-18: rgba(38, 139, 243, 0.18);
  --alpha-38-139-243-0-2: rgba(38, 139, 243, 0.2);
  --alpha-38-139-243-0-22: rgba(38, 139, 243, 0.22);
  --alpha-38-139-243-0-24: rgba(38, 139, 243, 0.24);
  --alpha-38-139-243-0-28: rgba(38, 139, 243, 0.28);
  --alpha-38-139-243-0-3: rgba(38, 139, 243, 0.3);
  --alpha-38-139-243-0-35: rgba(38, 139, 243, 0.35);
  --alpha-38-139-243-0-36: rgba(38, 139, 243, 0.36);
  --alpha-38-139-243-0-42: rgba(38, 139, 243, 0.42);
  --alpha-38-139-243-0-5: rgba(38, 139, 243, 0.5);
  --alpha-44-50-66-0-06: rgba(44, 50, 66, 0.06);
  --alpha-47-111-246-0-22: rgba(47, 111, 246, 0.22);
  --alpha-47-134-235-0-32: rgba(47, 134, 235, 0.32);
  --alpha-5-10-20-0-45: rgba(5, 10, 20, 0.45);
  --alpha-50-116-239-0-22: rgba(50, 116, 239, 0.22);
  --alpha-51-99-24-0-2: rgba(51, 99, 24, 0.2);
  --alpha-56-120-255-0-12: rgba(56, 120, 255, 0.12);
  --alpha-57-139-250-0-24: rgba(57, 139, 250, 0.24);
  --alpha-7-10-15-0-68: rgba(7, 10, 15, 0.68);
  --alpha-8-11-16-0-5: rgba(8, 11, 16, 0.5);
  --alpha-98-155-255-0-50: rgba(98, 155, 255, 0.50);
}
